@CHARSET "ISO-8859-1";

/*********************************************************************************/
/*                                                                               */
/*  General Formatting                                                           */
/*                                                                               */
/*********************************************************************************/
body {
	font-size: 0.85em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: url("/fair/images/background.jpg")
}

/*********************************************************************************/
/*                                                                               */
/*  Menu Formatting                                                           */
/*                                                                               */
/*********************************************************************************/
.menu-div{
	width: 15%;
	float: left;
}

.display-div{
	width: 80%;
	float: right;
}

.ui-menu {
	width: 200px;
}